/*====================== Paul Irish ======================*/
html{
    font-size: 62.5%; // resetea los rem (1 rem = 10px)
    box-sizing: border-box;
  }
  *, *:before , *:after{
    box-sizing: inherit;
}
/*====================================================*/
body{
    font-family: $fontPrincipal;
    font-size: 2rem;
}
.contenedor{
    max-width: 120rem;
    width: 95%;
    margin: 0 auto;
}
.sinScroll{overflow: hidden;}
a{text-decoration: none;}
img{width: 100%;} //Esto hara nuestras imagenes responsive 

h1,h2,h3,h4{margin: 0;}
h1{font-size: 4.5rem;}
h2{font-size: 4rem;}
h3{font-size: 3.8rem;}
h4{font-size: 3rem;}