/*============== FONTS ==============*/
$title: 'Staatliches', cursive;
$fontPrincipal: 'PT Sans', sans-serif;

$regular: 400;
$bold: 700;

/*=================== COLORES ===================*/
$azulOscuro: #293b5f;
$blanco: #fff;
$negro: #1a1c20;
$gris: #c8c2bc;
$naranja: #fc8621;
$verde: #939b62;

/*=================== Media Querie ===================*/
$smartphone: 480px;
$tablet: 768px;
$desktop: 1200px;

/*=================== Espaciado ===================*/
$separacion: 5rem;